# vim ft=yaml

# After changing this file, check it on:
#   http://lint.travis-ci.org/

language: python

python:
    - 2.6
    - 2.7
    - 3.2
      # - 3.3
      # - 3.4

before_install:
    - export DISPLAY=:99.0
    - WHEEL_URL=https://nipy.bic.berkeley.edu/scipy_installers/travis
    - sh -e /etc/init.d/xvfb start
    - sudo apt-get update
    # matplotlib dependencies
    - sudo apt-get install libpng12-0 libfreetype6
    # scipy dependencies
    - sudo apt-get install libblas3gf liblapack3gf libatlas3gf-base libgfortran3
    # pyside dependencies
    - sudo apt-get install libqtcore4 libqtwebkit4 libqtgui4 libqt4-svg
    # Might be useful for pillow, needed for imread and / or pyfits
    - sudo apt-get install libtiff4-dev libwebp-dev xcftools
    # pip build dependencies
    - pip install -f $WHEEL_URL cython six scipy
    - pip install coveralls pillow
    - python check_bento_build.py

install:
    - tools/header.py "Dependency versions"
    - tools/build_versions.py
    - export PYTHONWARNINGS=all
    - python setup.py build_ext --inplace

script:
    # Run all tests with minimum dependencies
    - nosetests --exe -v skimage

    # Run pep8 and flake tests
    - flake8 --exit-zero --exclude=test_*,six.py skimage doc/examples viewer_examples

    # Install optional dependencies to get full test coverage
    - pip install -f $WHEEL_URL networkx nose matplotlib pyside
    # Postinstall for pyside
    - curl -O $WHEEL_URL/pyside_postinstall.py
    - python pyside_postinstall.py -install
    # pyfits and imread do NOT support py3.2
    - if [ "$TRAVIS_PYTHON_VERSION" != "3.2" ]; then
          pip install -q imread pyfits;
      fi
    - sudo apt-get install -qq libfreeimage3
    # TODO: update when SimpleITK become available on py34 or hopefully pip
    - if [[ $ENV != python=3.4* ]]; then
        travis_retry easy_install -q SimpleITK;
      fi
    # Matplotlib settings
    - export MPL_DIR=$HOME/.config/matplotlib
    - mkdir -p $MPL_DIR
    - touch $MPL_DIR/matplotlibrc
    - "echo 'backend : Agg' > $MPL_DIR/matplotlibrc"
    - "echo 'backend.qt4 : PySide' >> $MPL_DIR/matplotlibrc"

    # Run all doc examples
    - export PYTHONPATH=$(pwd):$PYTHONPATH
    - for f in doc/examples/*.py; do python "$f"; if [ $? -ne 0 ]; then exit 1; fi done
    - for f in doc/examples/applications/*.py; do python "$f"; if [ $? -ne 0 ]; then exit 1; fi done

    # run tests again with optional dependencies to get more coverage
    # measure coverage on py3.3
    - if [[ $ENV == python=3.3* ]]; then
         nosetests --exe -v --with-doctest --with-cov --cover-package skimage;
      else
         nosetests --exe -v --with-doctest skimage;
      fi

after_success:
    - if [[ $ENV == python=3.3* ]]; then
          coveralls;
      fi
